
{% extends 'shared_layout/base.html' %}

{%block contents%}




{% load static %}
{% if user.is_company == 1 or user.is_manager%}
<h2>{{ company.name }} Company Profile </h2>
<p><strong>User ID:</strong> {{ user.id }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<h1>Total worktime of worker: </h1>


<select id="user_id_dropdown"></select>
<div class="chartCard">
    <div class="chartBox">
        <div class="containerBody">
            <div class="colSmall">
                <canvas id="myChart2"></canvas>
            </div>
            <div class="colLarge">
                <div class="box">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
            Chart.defaults.global.legend.display = false;
            $(document).ready(function() {
                var myChart;
                var myChart2;
                function fetchChartData(userId) {
                    
                    var chartUrl = '{% url "attendance:line_chart_json" %}?user_id=' + userId;
                    $.get(chartUrl, function(data) {
                        if (myChart) {
                            myChart.destroy();
                                    }
                        if (myChart2) {
                            myChart2.destroy();
                                    }
                        var ctx = $("#myChart").get(0).getContext("2d");
                        var ctx2 = $("#myChart2").get(0).getContext("2d");
                        
                
                        
            var config = {
                type: 'bar', 
                data: data,
                options: {
                    maintainAspectRatio: false,
                    layout:{
                        padding:{
                            top: 20,
                        },
                    },
                    scales: {
                        yAxes: [{
                            beginAtZero: true,
                            ticks: {
                                display: false, 
                                    },
                            grid: [{
                                drawTicks: false,
                                drawBorder: false,
                            }],
                                },]
                        
                            },
                }
            }
            var config2 = {
                type: 'bar', 
                data: data,
                options: {
                    maintainAspectRatio: false,
                    layout:{
                        padding:{
                            top: 20,
                            bottom: 38,
                        },
                    },
                    scales: {
                        xAxes:[{
                            display:false,
                            ticks: {
                                display: false, 
                                    },
                            grid: {
                                drawTicks: false,
                            },
                        },],
                        yAxes: [{
                                beginAtZero: true,
                                afterFit:(ctx2) => {
                                    console.log(ctx2);
                                    ctx2.width = 30;
                                }
                                }]
                            },
                        }
            }
                        myChart = new Chart(ctx,config );
                        myChart2 = new Chart(ctx2,config2 );
            console.log("myChart");
            console.log(myChart);
            console.log(myChart2);
        
            const box = document.querySelector('.box');
            const totalLabels = myChart.data.labels.length
            if(totalLabels > 25){
                console.log("over 25");
                const newWidth = 900 + ((totalLabels - 25) * 36)
                box.style.width = `${newWidth}px`
            }
        });
    }
        
                // Populate dropdown with worker information
                var dropdown = $('#user_id_dropdown');
    dropdown.empty();
    dropdown.append('<option selected="true" disabled>Select Worker</option>');
    dropdown.prop('selectedIndex', 0);
    //var requesting_user_id = "{{ user.id }}";
    //var url = '/get-user-ids/' + requesting_user_id + '/';
    var url = '{% url "attendance:get_employed_user_ids_json" %}';
    $.getJSON(url, function(data) {
        $.each(data.workers, function(key, worker) {
            var optionText = worker.firstname && worker.lastname ? worker.firstname + ' ' + worker.lastname : 'ID: ' + worker.user_id;
            optionText += ' (ID: ' + worker.user_id + ')';
            dropdown.append($('<option></option>').attr('value', worker.user_id).text(optionText));
        });
    }).fail(function() {
        console.error('Failed to fetch worker information.');
    });

    // Event listener for dropdown change
    dropdown.on('change', function() {
        var userId = $(this).val();
        fetchChartData(userId);
        // Update the <h1> element with selected worker information
        var selectedWorkerText = $('option:selected', this).text();
        $('h1').text('Total worktime of worker: ' + selectedWorkerText);
        
    });
});
        </script>
        
{% endif %}


{%endblock contents%}
