
{% extends 'shared_layout/base.html' %}

{%block contents%}




{% if user.is_company == 1 or user.is_manager%}
<p><strong>User ID:</strong> {{ user.id }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
{{error}}
<div id="employees_table_container">
    <table id="employees_table">
        <form method="get" action="{% url 'attendance:get_employees' %}">
            {% for field, filter_value in filter_values %}
            <th><input type="text" name="{{ field }}" placeholder="Filter by {{ field.capitalize }}" value="{{ filter_value }}"></th>
            {% endfor %}
            <button type="submit">Apply Filter</button>
            <button type="submit" name="clear_filters">Clear Filters</button>
        </form>
        <thead>
            <tr>
                {% for field, filter_value in filter_values %}
                <th>
                    
                    <a href="?sort={{ field }}{% for f, v in filter_values %}&{{ f }}={{ v }}{% endfor %}">
                        {{ field.capitalize }}
                      </a>
                </th>
                {% endfor %}
        </thead>
        <tbody>
            {% for worker in workers %}
                <tr>
                    <td><a href="{% url 'attendance:get_worker_worktime'  worker.fields.user  %}">{{ worker.fields.user }}</a></td>
                    <td>{{ worker.fields.firstname }}</td>
                    <td>{{ worker.fields.lastname }}</td>
                    <td>{{ worker.fields.kiosk_code }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}


{%endblock contents%}
