
{% extends 'shared_layout/base.html' %}

{%block contents%}

{% if user.is_company == 0 and  user.is_worker == 1 or user.is_manager == 1%}
<h2>Username: {{ user.username }}</h2>
<h2>Employed by: {{ worker.company.name }}</h2>
<h2>Kiosk Code: {{ worker.kiosk_code }}</h2>
<h2>Firstname: {{ worker.firstname }}</h2>
<h2>Lastname: {{ worker.lastname }}</h2>

{% if worktime_entries %}
<h2>Worktime Entries:</h2>


<div id="worktime_table_container">
    <table id="worktime_table">
        <thead>
            <tr>
                <th>Date:</th>
                <th>Punch In:</th>
                <th>Punch Out:</th>
                <th>Total Time:</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in worktime_entries %}
                <tr>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.punch_in }}</td>
                    <td>{{ entry.punch_out }}</td>
                    <td>{{ entry.total_time}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    // Scroll to the bottom of the table container
    var container = document.getElementById('worktime_table_container');
    container.scrollTop = container.scrollHeight;
</script>

{% else %}
    <p>No worktime entries available.</p>
{% endif %}
<div class="align-right">
    <button id="updateWorktimeButton">Update Worktime</button>
</div>
{% endif %}

<script>
    $(document).ready(function() {
        $('#updateWorktimeButton').on('click', function() {
            const csrftoken = Cookies.get('csrftoken');
            $.ajax({
                type: 'POST',
                url: '{% url "attendance:add_worktime" %}',  // Replace with the actual URL name of your update_worktime view
                data: {
                    user_id: '{{ user.id }}',  // Replace with the actual user ID or how you obtain it in your context
                    'csrfmiddlewaretoken': csrftoken
                },
                dataType: 'json',
                success: function (data) {
                    
                    if (data.status === 'success') {
                        // Optional: Display a success message or perform other actions
                        location.reload();
                        // Assuming you have an HTML element with the ID 'worktime_table'

                        // Update the table with the new entry
                    } else {
                        // Handle errors if needed
                    }
                },
                error: function () {
                    // Handle errors if needed
                }
            });
        });
    });
    </script>

{% if user.is_company == 1 and user.is_worker == 0%}
<h2>{{ company.name }} Company Profile </h2>
<p><strong>User ID:</strong> {{ user.id }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>


<form id='kiosk_code_form' method="post">
    {%csrf_token%} {%include 'attendance/form_snippets.html' with form=form%}
    <input id='kiosk_code' class="btn btn-primary" type="submit" value="Update Worktime">
    <div id="alert"></div>
</form>
{% endif %}

<div id="alert"></div>
<script>
    $(document).ready(function() {
        $('#kiosk_code_form').on('submit', function() {
            event.preventDefault();
            
            const csrftoken = Cookies.get('csrftoken');
            $.ajax({
                type: 'POST',
                url: '{% url "attendance:update_worktime_by_kiosk_code" %}',  // Replace with the actual URL name of your update_worktime view
                data: {
                    kiosk_code: $('#kiosk_code_').val(),
                    user_id: '{{ user.id }}',  // Replace with the actual user ID or how you obtain it in your context
                    'csrfmiddlewaretoken': csrftoken
                },
                dataType: 'json',
                
                success: function (data) {
                    
                    if (data.status === 'success') {
                        // Optional: Display a success message or perform other actions
                        //$('#kiosk_code_form').hide();
                        $('#kiosk_code_form').val('');
                        $('#kiosk_code_form')[0].reset();
                        document.getElementById("kiosk_code_form").reset();
                        $('#alert').html('<div class="alert alert-success">'  + data.message + data.worker + '</div>').show();
                        console.log(data);
                        console.log(data.message);
                        //$('#alert').html('<div class="alert alert-success">' + response.message + '</div>').show();
                        //location.reload();
                        // Assuming you have an HTML element with the ID 'worktime_table'

                        // Update the table with the new entry
                    } else {
                        $('#alert').html('<div class="alert alert-warning">'  + data.message +  '</div>').show();
                        // Handle errors if needed
                    }
                },
                error: function () {
                    // Handle errors if needed
                }
            });
        });
    });
    </script>
{%endblock contents%}
