<!DOCTYPE html>
{% extends 'shared_layout/base.html' %}

{%block title%}
login
{%endblock title%}

{%block contents%}
{%if error%}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{%endif%}
{%if data.message%}
<div class="alert alert-danger" role="alert">
    {{data.message}}
</div>
{%endif%}
<form method="post">
    {%csrf_token%}
    {%include 'attendance/form_snippets.html' with form=form%}                
    <input class="btn btn-primary" type="submit" value="Login">
</form>


<div class="my-2">
    <small class="text-muted">
        Need an account ? <a class="ml-2" href="{%url 'attendance:register'%}">Sign Up</a>
    </small>
</div>
{%endblock contents%}