<!DOCTYPE html> {% extends 'shared_layout/base.html' %} {%block title%} register {%endblock title%} {%block contents%} {%if error%}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{%endif%}
<form method="post">
    {%csrf_token%}{{ wizard.management_form }} {%include 'attendance/form_snippets.html' with form=form%}
    <input class="btn btn-primary" type="submit" value="Register">
</form>

<small class="text-muted">
    Already have an account ? <a class="ml-2" href="{%url 'attendance:login'%}">Sign In</a>
</small>
{% endblock %}
