<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
    <a class="navbar-brand" href="{%url 'attendance:home'%}">ATTENDANCE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {%if user.is_authenticated%}
        <li class="nav-item">
            <a class="nav-link" href="{%url 'attendance:home'%}">Home</a>
        </li>
        
        {%endif%}
        {%if user.is_company and user.is_authenticated%}
        <li class="nav-item">
            <a class="nav-link" href="{%url 'attendance:get_employees'%}">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'attendance:charts'%}">Charts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'attendance:upload_file'%}">Create Accounts</a>
        </li>
        {%endif%}
        {%if user.is_manager and user.is_authenticated%}
        <li class="nav-item">
            <a class="nav-link" href="{%url 'attendance:get_employees'%}">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'attendance:charts'%}">Charts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'attendance:add_subordinates'%}">Add Subordinates</a>
      </li>
        {%endif%}
        {%if user.is_authenticated%}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'attendance:worktime_export'%}">Worktime Export</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'attendance:logout'%}">Logout</a>
        </li>
        
        {%else%}
        <li class="nav-item">
            <a class="nav-link" href="{%url 'attendance:login'%}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'attendance:register'%}">register</a>
        </li>
        {%endif%}
      </ul>
    </div>
  </nav>
