<!DOCTYPE html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'attendance/style.css' %}">
    <script type="text/javascript" src="./public/js/script.js" defer></script>
    <title>REGISTER</title>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="public/img/logo.svg">
        </div>
        
        <div class="login-panel-container">
        <div class="welcome">Register User</div>
        
            <form class="register" id="formdata" action="{% url 'attendance:register_user' %}" method="POST">
                {% csrf_token %}    
                <div class="login-container">
                    <div> email </div>
                    <input name="email" type="text" placeholder="email@email.com">
                </div>
                <div class="login-container">
                    <div> password </div>
                    <input name="password" type="password" placeholder="password">
                </div>
                <div class="login-container">
                    <div> password </div>
                    <input name="confirmed_password" type="password" placeholder="confirm password">
                </div>
                <div class="login-container">
                    <div> name </div>
                    <input name="name" type="text" placeholder="name">
                </div>
                <div class="login-container">
                    <div> surname </div>
                    <input name="surname" type="text" placeholder="surname">
                </div>
                <div class="login-container">
                    <div> employer ID </div>
                    <input id="employer_id" name="employer_id" type="text" placeholder="employer ID">
                </div>
                
                <button type="submit">REGISTER</button>
                {{message}}
                <script type="text/javascript">
                    document.getElementById("formdata").addEventListener("submit", function(e){
                    e.preventDefault();
                  
                    email = document.getElementsByName("email")[0].value;
                    password = document.getElementsByName("password")[0].value;
                    confirmed_password = document.getElementsByName("confirmed_password")[0].value;
                    name = document.getElementsByName("name")[0].value;
                    surname = document.getElementsByName("surname")[0].value;
                    employer_id = document.getElementsByName("employer_id")[0].value;
                    
                  const formData = new FormData();
                  console.log(name);
                
                  formData.append('email', email);
                  formData.append('password', password);
                  formData.append('confirmed_password', confirmed_password);
                  formData.append('name', name);
                  formData.append('surname', surname);
                  formData.append('employer_id', employer_id);
                  formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                  console.log(formData);
                  fetch("{% url 'attendance:register_user' %}", {
                    method: 'POST',
                    body: formData
                  })
                  .then(response => response.json())
                  .then(data => {
                    console.log('Success:', data);
                  })
                  .catch(error => {
                    console.error('Error:', error);
                  });
                  });
                </script>
            </form>
            <div class="register-links">
                    <a href="register_company">Register as company</a>
                    <a href="login">Log in</a>
                </div>
            <div class="messages">
                    <?php if(isset($messages)){
                        foreach ($messages as $message){
                        echo $message;
                        }
                    }
                    ?>
                </div>
        </div>
    </div>
</body>