body {
    margin: 0;
}
html *
{
   font-family: Arial !important;
}
.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #FFE5EC 0%, #9796F0 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Segoe UI;
}

.logo {
    width: 30%;
    margin-bottom: 20%;
    margin-top: 10%;
    margin-right: 20%;
    height: auto;
    text-align: center;
}
.logo-bottom {
    position: absolute;
    bottom: 0;
    width: 20%;
    height: auto;
    text-align: justify;
    align-items: center;
    margin-left: 40%;
    margin-right: 30%;
}
.logo-bottom-right {
    position: absolute;
    bottom: 0;
    width: 30%;
    height: auto;
    text-align: left;
    align-items: center;
    margin-bottom: 5%;
}

.login-panel-container {
    width: 30%;
    margin-bottom: 20%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    
    justify-content: start;

}

form.login, form.register {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 1em;
    align-items: stretch;
    width: 80%;
    height: 50vh;
}
.register-links{
    padding-left: 25%;
}
.welcome {
    font-size: 3.5rem;
    padding-bottom: 0.3em;
}
.login-as-company-container{
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.login-container,.password-container  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}


.small-text {
    color: #707070;
    text-decoration: underline;
    padding-left: 50%;
    font-size: 0.7em;
}

button {
    background-color: rgba(255, 255, 255, 0.918);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    width: 50%;
    border: none;
    color: black;
    margin: 1em;
    margin-left: 25%;
    line-height: 2.5em;
}

input {
    background-color: #332580 100%;
    padding: 0.3em;
    margin: 0.3em;
    width: 50%;
    
    
    border: 2px solid black;
}






a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}


.button {
    border: 1px solid #FFFFFF;
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    padding: 0.2rem;
    width: 60%;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}


@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }
    *:not(.welcome) {
        font-size: 48px;
    }
    .login-panel-container {
        width: 100%;
    }
    .logo {
        width: 50%;
        padding-top: 30%;
        margin-top: 0;
        margin-bottom: 0;
        margin: 0;
    }
    form {
        margin: auto;
    }
    form.login, form.register {
        width:90%;
    }
    input{
        width: 70%;
    }
    .company-info-container{
        flex-direction: column;
    }
    nav>*>img {
        width: 10%;
        height: 10%;
        
    }
    .company-info-container>*>img{
        width: 10%;
    }

}

